  <footer>
    <div class="container">
      <div class="third">
        <h5>Call Us</h5>
        <p class="phone"><a href="tel:8002367138">800.236.7138</a><span><br><a href="#" class="button">or send us an email</a></span></p>
        <p class="copyright">Copyright &copy; 2014 Pickwick Antiques, All Rights Reserved.</p>
      </div><!-- Third -->
      <div class="third">
        <h5>Read our Blog</h5>
        <p>Keep up with the latest arrivals, sales details and information about 18th, 19th, and 20th century English and French antiques.</p>
      </div><!-- Third -->
      <div class="third">
        <h5>Sign up for e-News</h5>
        <p>Sign up for our e-news and be in the know about Pickwick Antiques sales and events.</p>
      </div><!-- Third -->
    </div><!-- Container -->
  </footer>
  
</body>
</html>