<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{if segment_1}{if embed:entry_meta_title}{embed:entry_meta_title}{if:else}{embed:title}{/if} | {meta-title}{if:else}{meta-title}{/if}</title>
	{if embed:entry_keywords}<meta name="keywords" content="{embed:entry_keywords}" />{if:elseif segment_1 == ''}<meta name="keywords" content="{meta-keywords}" />{/if}
	{if embed:entry_description}<meta name="description" content="{embed:entry_description}" />{if:elseif segment_1 == ''}<meta name="description" content="{meta-description}" />{/if}
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="{site_url}includes/css/style.css">
	<link rel="stylesheet" href="{site_url}includes/css/jquery.bxslider.css">
	<link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700' rel='stylesheet' type='text/css'>
	
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{site_url}includes/js/jquery.bxslider.min.js"></script>
	<script src="{site_url}includes/js/main.js"></script>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<link rel="stylesheet" href="includes/css/ie.css">
	<![endif]-->
</head>