<header>
    <div class="container">
      <div class="third holdsLogo">
        <h1 class="logo"><a href="index.html">Pickwick Antiques</a></h1>
      </div><!-- Third -->
      <div class="third holdsMenu">
        <nav>
          <ul class="shopNav">
            <li><a href="/inventory/listing/furniture/1">Furniture</a></li>
            <li><a href="/inventory/listing/accessories/3">Accessories</a></li>
            <li><a href="/inventory/listing/category/paintings">Paintings</a></li>
          </ul><!-- Shop Nav -->
          <ul class="siteNav">
          	{exp:structure:nav start_form="/" max_depth="1" include_ul="no"}
          </ul><!-- Site Nav -->
        </nav>
      </div><!-- Third -->
      <div class="third holdsSearch">
        <form action="#">
          <input type="text" value="Find an item" />
          <input type="submit" value="Find it" />
        </form>
        <ul class="socialButtons">
          <li><a href="https://www.facebook.com/pages/Pickwick-Antiques/166386743387140" target="_blank">Facebook</a></li>
          <li><a href="http://www.pinterest.com/pickwickstore/" target="_blank">Instagram</a></li>
          <li><a href="http://instagram.com/pickwickantiques" target="_blank">Pinterest</a></li>
        </ul>
      </div><!-- Third -->
    </div><!-- Container -->
  </header>