<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Talk about SEO | Pickwick Antiques</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="This is the description for the site. Replace this with SEO text." />
	
	<link rel="stylesheet" href="includes/css/style.css">
	<link rel="stylesheet" href="includes/css/jquery.bxslider.css">
	<link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700' rel='stylesheet' type='text/css'>
	
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="includes/js/jquery.bxslider.min.js"></script>
	<script src="includes/js/main.js"></script>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<link rel="stylesheet" href="includes/css/ie.css">
	<![endif]-->
</head>