{embed="_includes/.head"}

<body class="home">

  {embed="_includes/.header"}
  
  <div class="slider">
    <div class="container">
      <ul class="bxslider">
        <li>
          <img src="images/uploads/slide-1.jpg" alt="" />
        </li>
        <li>
          <img src="images/uploads/slide-1.jpg" alt="" />
        </li>
        <li>
          <img src="images/uploads/slide-1.jpg" alt="" />
        </li>
    </ul><!-- Bx Slider -->
    </div><!-- Container -->
  </div><!-- Slider -->
  
  <main>
    <div class="container">
      <div class="content">
        <h2 class="curateYourHome">Curate Your Home</h2>
        <p>Pickwick is a leading source for fine English and French antiques. With over 10,000 square feet of beautiful objects in our inventory and a seasoned staff boasting design degrees, Pickwick Antiques offers a high quality and inspirational shopping experience.</p>
        <div class="testimonials smallHeight">
          <p>I searched at least a dozen “antique” shops in New Orleans before finding a store with a wide variety of authentic English and French antiques.<span class="person">Loree H.</span></p>
        </div><!-- Testimonials -->
      </div><!-- Content -->
      <aside>
        <ul class="categoriesList">
          <li>
            <img src="images/uploads/category-placeholder.jpg" alt="Furniture from Pickwick Antiques" />
            <div class="addBorder">
	            <h3>Furniture</h3>
            </div><!-- Add Border -->
          </li>
          <li>
            <img src="images/uploads/category-placeholder.jpg" alt="Furniture from Pickwick Antiques" />
            <div class="addBorder">
	            <h3>Paintings</h3>
            </div><!-- Add Border -->
          </li>
          <li>
            <img src="images/uploads/category-placeholder.jpg" alt="Furniture from Pickwick Antiques" />
            <div class="addBorder">
	            <h3>Accessories</h3>
            </div><!-- Add Border -->
          </li>
          <li>
            <img src="images/uploads/category-placeholder.jpg" alt="Furniture from Pickwick Antiques" />
            <div class="addBorder">
	            <h3>Silver</h3>
            </div><!-- Add Border -->
          </li>
        </ul>
      </aside>
    </div><!-- Container -->
  </main>
  
{embed="_includes/.footer"}